@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contact App</h1>

    <video width="700" height="400" controls >
        <source src="~/css/CLDVIceOne.mp4" type="video/mp4">
    </video>

  

</div>
